@{
    ViewData["Title"] = "Home";
}

<h1>Playground.Nova</h1>
<p>Playground.Nova REST API demo app.</p>
<p>
    Use <a href="https://www.getpostman.com/downloads/" target="_blank" rel="noreferrer">PostMan</a> to access the API end points.
</p>
<p>
    Import <code>Playground.Nova.postman_collection.json</code> file to PostMan to see all available end points.
</p>